@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    @using (Html.BeginForm("GetAuthorization", "CusAuth", FormMethod.Post, new { id = "Index" }))
    {
        <button type="submit">授权</button>    
    }
    </div>
</body>
</html>
